fastapi
uvicorn
pymupdf
faiss-cpu
numpy
python-multipart
python-dotenv
pandas
google-genai
sqlalchemy>=2.0
asyncpg
redis

# force CPU torch
torch==2.1.2+cpu --index-url https://download.pytorch.org/whl/cpu

# prevent reinstalling torch with CUDA
transformers
sentence-transformers --no-deps